
<div class="well topnav a Changing_border ">
    <nav class="well changepadding">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Logo</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Employee Board</h2>
        <br />
        <p class="para_class">Hellow Mr.Alam Wellcome to your school board.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="change_toclickable" ng-click="profileButton()">
            <div class="well dash-box videologin  change_div_clickable">
                <img class="img-responsive img-rounded change_image" src="Images/Userp.png" alt="Preview" />
                <h3>Mr.Alam <br /> Daffodil International School</h3>
            </div>
        </a>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel panel-primary change_background">

            <div class="panel-body">
                <div class="row ">

                    <div class="col-md-3">

                        <div class="well dash-box videologin  change_div_clickable">
                            <h2>৳11504.00</h2>
                            <h4>Total Payable</h4>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="well dash-box videologin  change_div_clickable">
                            <h2>৳52504.00</h2>
                            <h4>Total Paid</h4>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="well dash-box videologin  change_div_clickable">
                            <h2>৳3504.00</h2>
                            <h4>Total Due</h4>
                        </div>

                    </div>


                    <div class="col-md-3">

                        <div class="well dash-box videologin  change_div_clickable">
                            <h2>৳504.00</h2>
                            <h4>Total Others</h4>
                        </div>

                    </div>
                </div>

                <!--

                static menu End

                -->
                <div class="row ">

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="profileButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Userp.png" alt="Preview" />
                                <h3>My <br /> Profile</h3>
                            </div>
                        </a>
                    </div>
                    <!--                   <div class="col-md-3">
                                           <div class="well dash-box videologin">

                                                   <a ng-click="AdmitButton()"  class="btn btn-danger btn-block">
                                                       <span class="glyphicon glyphicon-paperclip"></span>
                                                   </a>

                                               <a>
                                                   <img class="img-responsive img-rounded change_image" src="Images/Human.jpg" alt="Preview" />
                                                   <h3>MyAdmit</h3>
                                               </a>

                                           </div>
                                       </div>
                               -->

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="AdmitButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Admit-Card.png" alt="Preview" />
                                <h3>My <br /> Admit</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="academicButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Document.png" alt="Preview" />
                                <h3>Academic <br /> Document</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="news()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/News1.png" alt="Preview" />
                                <h3>News & <br /> Events</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="DocumentButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/MyDC.png" alt="Preview" />
                                <h3>My <br /> Document</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="Parent()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/couple.png" alt="Preview" />
                                <h3>My <br /> Parent</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="PaymentLedger()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/payment.jpg" alt="Preview" />
                                <h3>My <br /> Payment</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="MyproblemButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Problem.jpg" alt="Preview" />
                                <h3>My <br /> Problems</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="Picker()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/picker.png" alt="Preview" />
                                <h3>My <br /> Picker</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="Routine()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Time.png" alt="Preview" />
                                <h3>My <br /> Routine</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="profileButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Userp.png" alt="Preview" />
                                <h3>My <br /> Profile</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="SendMail()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Email.jpg" alt="Preview" />
                                <h3><br /> Send Mail</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <!--<div class="row ">

                    <div class="container vertical flat">
                        <h2>Vertical, Flat</h2>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>100%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>75%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>60%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>20%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>34%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>82%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- chart -->
