
<div class="row">
    <div class="col-md-12">
        <h2>Headmaster Board</h2>
      
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="change_toclickable" ng-click="profileButton()">
            <div class="well dash-box videologin  change_div_clickable">
                <img class="img-responsive img-rounded change_image" src="Images/Userp.png" alt="Preview" />
                <h3>Mr.Ahmed<br /> Headmaster<br/></h3> <h4>Daffodil International School</h4>
            </div>
        </a>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel panel-primary change_background">

            <div class="panel-body">
                <div class="row ">

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="profileButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/report1.jpg" alt="Preview" />
                                <h3>Report<br />Card</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="AdmitButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Student.jpg" alt="Preview" />
                                <h3>Total <br /> Student</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="academicButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/section.jpg" alt="Preview" />
                                <h3>Section wise <br /> Stdents</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="news()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/attend.jpg" alt="Preview" />
                                <h3>Today's Class <br /> Attendance</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="DocumentButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/routine.jpg" alt="Preview" />
                                <h3>Class <br /> Routine</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="Parent()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/collection.jpg" alt="Preview" />
                                <h3>Daily <br /> Collection</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="PaymentLedger()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/payment2.jpg" alt="Preview" />
                                <h3>Head wise <br /> Collection</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="MyproblemButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/payrep.png" alt="Preview" />
                                <h3>Payment<br />Report</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <!--<a class="change_toclickable" ng-click="Picker()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/picker.png" alt="Preview" />
                                <h3>Head wise <br /> Collection</h3>
                            </div>
                        </a>-->
                    </div>
                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="Routine()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/notice-icon.png" alt="Preview" />
                                <h3> Notice <br /> Board</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="change_toclickable" ng-click="profileButton()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/cont.png" alt="Preview" />
                                <h3>Class<br />Content</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <!--<a class="change_toclickable" ng-click="SendMail()">
                            <div class="well dash-box videologin  change_div_clickable">
                                <img class="img-responsive img-rounded change_image" src="Images/Email.jpg" alt="Preview" />
                                <h3><br /> Notice</h3>
                            </div>
                        </a>-->
                    </div>
                </div>

                <!--<div class="row ">

                    <div class="container vertical flat">
                        <h2>Vertical, Flat</h2>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>100%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>75%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>60%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>20%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>34%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill">
                                    <span>82%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- chart -->
