<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <!--<h3 class="text-info">
                    Admit Card
                </h3>-->
            </div>
        </div>
        <div class="modal-body" id="printIt">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Admit Card
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-8 change_padding col-print-8">
                            <div class="row">
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label"> Name:</label>
                                </div>
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label">Abul Kashem</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label">Id:</label>
                                </div>
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label">151-35-900</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label">Department:{{a}}</label>
                                </div>
                                <div class="col-md-5 col-print-5">
                                    <label class="control-label">SWE</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-print-4">
                            <img src="Images/Human.jpg" class="img-responsive img-thumbnail" alt="Preview" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer videologin">
            <input type="submit" class="btn btn-block btn-primary" value="Print" ng-click="printContent('printIt')" />
            <input type="submit" class="btn btn-block btn-warning" ng-click="cancel()" value="Cancel" />
        </div>-->
    </div>
</div>